@page
@model Visio_Beta.Areas.Admin.Pages.AddModel
@{
    ViewData["Title"] = "Add";
}

<div class="card shadow-lg container col-8 pt-5 align-items-md-center">

    <h1 class="text-warning p-4">New <b class="text-info">Book</b></h1>

    <form method="post">
        <div class="row form-group">
            <div class="col-2">
                <label asp-for="Book.Title"></label>
            </div>
            <div class="col-9">
                <input type="text" asp-for="Book.Title" class="form-control" placeholder="ex:livre de la jungle...etc" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-2">
                <label asp-for="Book.Author"></label>
            </div>
            <div class="col-9">
                <input type="text" asp-for="Book.Title" class="form-control" placeholder="ex:Frank Dunno" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-2">
                <label asp-for="Book.Year"></label>
            </div>
            <div class="col-9">
                <input type="text" asp-for="Book.Year" class="form-control" placeholder="ex: 2015" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-2">
                <label>Date d'ajout</label>
            </div>
            <div class="col-9">
                <input type="datetime-local" class="form-control date" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-3">
                <label>Fichier</label>
            </div>
            <div class="col-9">
                <input type="file" class="form-check-input" />
            </div>
        </div>

        <div class="form-group row offset-2">
            <div class="col-4 ">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-8">
                <a asp-page="Books" asp-area="Admin" class="btn btn-secondary">Back To Index</a>
            </div>
        </div>
        <em class="text-muted text-info p-2">Veuillez remplir tout les <b class="text-warning">champs </b> , car ils sont  <b class="text-warning">requis.</b> </em>
    </form>
</div>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
