@page
@model Visio_Beta.Areas.Admin.Pages.UpdateModel
@{
    ViewData["Title"] = "Update";
}


<div class="card shadow-lg container col-8 pt-5 align-items-md-center">

    <h1 class="text-warning p-4">Update <b class="text-info">Book</b></h1>

    <form method="post">
        <div class="row form-group">
            <div class="col-2">
                <label>Titre</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" placeholder="livre de la jungle...etc" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-2">
                <label>Auteur</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" placeholder="Frank Dunno" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-2">
                <label>Annee</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" placeholder=" 2015" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-2">
                <label>Date d'ajout</label>
            </div>
            <div class="col-9">
                <input type="datetime-local" class="form-control date" />
            </div>
        </div>
        @*<div class="row form-group">
                <div class="col-3">
                    <label>Fichier</label>
                </div>
                <div class="col-9">
                    <input type="file" class="form-check-input" />
                </div>
            </div>*@

        <div class="form-group row offset-2">
            <div class="col-4 ">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-8">
                <a asp-page="Books" asp-area="Admin" class="btn btn-secondary">Back To Index</a>
            </div>
        </div>
        <em class="text-muted text-info p-2">Veuillez remplir tout les <b class="text-warning">champs </b> , car ils sont  <b class="text-warning">requis.</b> </em>
        <p class="text-muted"><em>Note : </em>La mise a jour des informations sur les livre n'implique pas le contenu de celui-ci.</p>
    </form>
</div>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
